.containerIcon{
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(92px, 10vw, 104px);
  height: clamp(92px, 10vw, 104px);
}
.categoryItem{
  cursor: pointer;
  &:hover{
    .containerIcon svg{
      fill:#ff007b !important;
    }
    
  }
}