.img {
  transform: rotate(-30deg);
  left: -8%;
  position: absolute;
}
.containerImg {
  background-color: aquamarine;
  aspect-ratio: 163/180;
  width: clamp(163px, 50vw, 292px);
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: 6px 16px 30px 0px #6962620D;

}
.originalPrice {
  color: gray;
}
.productName {
  font-size: clamp(0.875rem,5vw,1.5rem);
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  line-height: 22px;
  letter-spacing: 0.25px;
}
.containerCard{
    max-width: clamp(163px, 50vw, 292px);
}
