.offCanvas {
  top: 56px !important;
  padding: 30px;
}
@media (min-width: 992px) {
  .offCanvas {
    padding: 0px;
  }
}
.logoTitle {
  padding-top: 1px;
  font-size: clamp(20px, 5vw, 36px);
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  display: none;
}
