.featuredProduct {
  border-radius: 8px;
  background-color: #D8E3F2;
  overflow: hidden;
  position: relative;
}

.title {
  font-size: clamp(1.75rem,2.5vw,2rem);
  white-space: pre-line;
}

.label {
  font-size: 14px;
  background: #e7ff86;
  width: fit-content;
  border-radius: 29px;
  font-weight: 600;
}

.image {
  position: absolute;
  z-index: 2;
}

.productContentContainer {
  background-color: inherit;
}

.Button {
  position: relative;
  z-index: 3;
  letter-spacing: 0.75px;
  width: 144px;
}
